@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
.place-photo{
    width: 25rem !important;
    padding: 10px;
    border-radius: 30px;
}
.title-acc{
    background-color: rgb(255, 255, 255) !important;
}
.icon-accordian{
    width: 28px;
    margin-right: 20px;
}
.button-accordian{
    text-transform: none !important;
    font-size: 15px !important;
    font-family: 'Alfa Slab One' !important;
   
}
.hideModal{
    display: none !important;
}
.showModal{
    position: fixed !important;
}
.fav-btn{
    background-color: rgb(108, 111, 255) !important;
    color: white !important;
    font-weight: bold !important;
    width: 10rem !important;
    bottom: 0 !important;
    border-radius: 30px !important;
}
.MuiAccordionSummary-content {
    margin: 12px 0;
    display: block !important;
    flex-grow: 1;
    transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.place-detail{
    list-style: none !important;
    padding: 0px !important;
}
.open-icon{
    width: 7rem;
}
.closed-icon{
    width: 7rem;
}
.price-rating{
    color: green !important;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(177, 144, 167);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }