.explore-button{
    background-color: orange !important;
    color: white !important;
    font-weight: bold !important;
    width: 22rem !important;
    position: absolute !important;
    top: 21rem !important;
    left: 16rem !important;
    padding: 12px !important;
    border-radius: 30px !important;
  }
  .explore-button2{
    background-color: orange !important;
    color: white !important;
    font-weight: bold !important;
    width: 22rem !important;
    position: absolute !important;
    top: 19rem !important;
    left: 16rem !important;
    padding: 12px !important;
    border-radius: 30px !important;
  }