.profile-jumbotron {
  background-size: cover;
  background-position: center !important;
  display: list-item;
  list-style-type: none;
  height: 15rem !important;
  margin-bottom: 7rem !important;
  background-image: url(../../icon/Trianglify.png);
}
.jumbotron-avatar {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, 20%);
  width: 10rem !important;
  height: 10rem !important;
  border: 2px solid black !important;
}

